.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
eventkit.zip
*.db
Constants.php
/logs/*
/db/*
/node_modules/*
/javascripts/views/all_views.js
/production/*
*.sublime-project
*.sublime-workspace