<div class="panel panel-default" style="margin-top: 25px">
    <div class="panel-body">
        <h1 style="margin-top:0px;">Settings</h1>

        <p>Auto delete events that are older than 
            {{view Ember.Select
               content=model.autoDeleteValues
               optionValuePath="content.value"
               optionLabelPath="content.title"
               value=model.selectedAutoDeleteValue}}
            old.
        </p>
        <p>Display  
            {{view Ember.Select
               content=model.eventsPerPage
               optionValuePath="content.value"
               optionLabelPath="content.title"
               value=model.selectedEventsPerPage}}
            events per page.
        </p>
        
        <p style="text-align:right;"><button {{action "save"}} class="btn btn-primary">Save</button></p>
    </div>
</div>
